ProExpressJS/xmlfiles/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:books" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="urn:catalogType" xmlns:urn="urn:books"/>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="xs:string" name="author"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="genre"/>
      <xs:element type="xs:string" name="price"/>
      <xs:element type="xs:string" name="publish_date"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="urn:bookType" name="book" xmlns:urn="urn:books"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>